<div id="app"></div>

<hr />

<h2>Listing posts (server rendered)</h2>
ok at all these people!  They came together because of <%= link "Elixir!", to: "http://www.elixir-lang.org" %></h2>

<%= pagination_links(@page_number, @total_pages) %>

<div class="ui grid">
  <%= for post <- @posts do %>
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img src='<%= post.image_url %>' />
        </div>
        <div class="content">
          <div class="header">
            <%= post.username %>
          </div>
          <div class="meta">
            <span class="date"><%= post.inserted_at %></span>
          </div>
          <div class="description">
            <%= post.content %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= pagination_links(@page_number, @total_pages) %>
